.Words {
  margin: 0 auto;
  padding: 80px 0;
  font-size: 68px;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
  transform: translate3d(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-font-kerning: normal;
  -webkit-text-size-adjust: 100%;
}

.WordsLine {
  height: 45px;
  overflow: hidden;
  position: relative;
}

.WordsLine:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(.66667);
}

.WordsLine:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.33333);
}

.WordsLine:nth-child(1) { left: 29px; }
.WordsLine:nth-child(2) { left: 58px; }
.WordsLine:nth-child(3) { left: 87px; }
.WordsLine:nth-child(4) { left: 116px; }
.WordsLine:nth-child(5) { left: 145px; }
.WordsLine:nth-child(6) { left: 174px; }
.WordsLine:nth-child(7) { left: 203px; }

.Words:hover .WordsLine p {
  transform: translate3d(0, -50px, 0);
}

.WordsLine p {
  height: 50px;
  line-height: 45px;
  padding: 0 10px;
  transition: all .4s ease-in-out;
  transform: translate3d(0, 0, 0);
  vertical-align: top;
  white-space: nowrap;
}