@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'NeueMachina';
  src: url('/fonts/NeueMachina-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMachina';
  src: url('/fonts/NeueMachina-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMachina';
  src: url('/public/fonts/NeueMachina-Ultrabold.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

body {
  font-family: 'NeueMachina', sans-serif;
  background-color: black;
  overflow-x: hidden !important;
  box-sizing: border-box;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    overflow-x: hidden;
}

body:after {
  animation: grain 6s steps(10) infinite;
  /* background-image: url(/grain.png); */
  background-repeat: repeat;
  content: "";
  height: 300%;
  left: -100%;
  opacity: .06;
  pointer-events: none;
  position: fixed;
  top: -100%;
  width: 300%;
  will-change: transform;
  z-index: 1000 !important;
}

*:after, *:before {
  box-sizing: border-box;
}

@keyframes grain {
  0% {
      transform: translate(20%,-15%)
  }

  10% {
      transform: translate(-20%,-15%)
  }

  20% {
      transform: translate(20%,-5%)
  }

  30% {
      transform: translate(-20%,-5%)
  }

  40% {
      transform: translate(20%,5%)
  }

  50% {
      transform: translate(-20%,5%)
  }

  60% {
      transform: translate(20%,15%)
  }

  70% {
      transform: translate(-20%,15%)
  }

  80% {
      transform: translate(20%,5%)
  }

  90% {
      transform: translate(-20%,5%)
  }

  to {
      transform: translate(20%,-5%)
  }
}

.headings-image {
  z-index: 3;
  width: 70%;
  min-width: 70%;
  mix-blend-mode: difference;
  object-fit: fill;
  position: relative;
  height: 30vh;
  margin-top: 15%;
}
.fade-bottom::after {
  @apply absolute bottom-0 left-0 w-full h-[50%];
  content: '';
  background: linear-gradient(to bottom, transparent, black, black);
  pointer-events: none;
}

.container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

#container {
  position: absolute;
  margin: auto;
  width: 100vw;
  height: 80pt;
  top: 0;
  bottom: 0;
  filter: blur(0.6px);
}

.animatedBackground {
  margin: 0px;
  color: #fff;
  height: 100vh;
  background-image: 
    linear-gradient(115deg, rgb(211 255 215), rgb(0 0 0)), 
    radial-gradient(90% 100% at calc(50% + var(--posX)) calc(0% + var(--posY)), rgb(200 200 200), rgb(22 0 45)), 
    radial-gradient(100% 100% at calc(80% - var(--posX)) calc(0% - var(--posY)), rgb(250 255 0), rgb(36 0 0)), 
    radial-gradient(150% 210% at calc(100% + var(--posX)) calc(0% + var(--posY)), rgb(20 175 125), rgb(0 10 255)), 
    radial-gradient(100% 100% at calc(100% - var(--posX)) calc(30% - var(--posY)), rgb(255 77 0), rgb(0 200 255)), 
    linear-gradient(60deg, rgb(255 0 0), rgb(120 86 255));
  background-blend-mode: overlay, overlay, difference, difference, difference, normal;
}

.swiper-pagination-bullet {
background-color: white !important;
}

.swiper-pagination-bullet .swiper-pagination-bullet-active {
  background-color: white !important;
}

.embla {
  flex: 0 0 var(--slide-size);
  --slide-spacing: 1rem;
  --slide-size: 50%;
  --slide-height: 19rem;
  padding: 0.8rem 0;
  margin: 0 0 3rem;
  overflow: hidden;
}

.embla__viewport {
  overflow: hidden;
  margin: 0 auto;
  max-width: 100vw;
  padding: 0 20px;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}
.embla__slide__img {
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}
.embla__slide__number {
  width: 4.6rem;
  height: 4.6rem;
  z-index: 1;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  border-radius: 50%;
  background-color: rgba(var(--background-site-rgb-value), 0.85);
  line-height: 4.6rem;
  font-weight: 900;
  text-align: center;
  pointer-events: none;
}

.embla__slide__number > span {
  color: var(--brand-primary);
  background-image: linear-gradient(
    45deg,
    var(--brand-primary),
    var(--brand-secondary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.6rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.embla__dots {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
}

.embla__dot {
  background-color: #333;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.embla__dot.is-selected {
  background-color: #ffffff;
}

@media (max-width: 640px) {
  .embla__slide {
    flex: 0 0 100%;
  }
}

.no-scroll {
  overflow: hidden;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.card {
  background: #191c29;
  width: fit-content;
  height: fit-content;
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
}

.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -1%;
    animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

a {
  color: #212534;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 2rem;
}

.scrollbar-track {
  display: none !important;
  opacity: 0 !important;
}

.select-wrapper {
  position: relative;
  display: inline-block;
  background-color: black;
  border: 1px solid white;
  border-radius: 0.25rem; /* 4px */
  overflow: hidden;
}

.select-wrapper select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: black;
  color: white;
  padding: 8px;
  padding-right: 30px; /* Make space for the custom chevron */
  border: none;
  border-radius: 0.25rem; /* 4px */
  width: 100%;
  cursor: pointer;
}

.select-wrapper::after {
  content: '▼'; /* Chevron icon */
  position: absolute;
  top: 0;
  right: 10px; /* Adjust this to move the chevron left or right */
  pointer-events: none;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  scale: 0.75;
}

.spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #c084fc; /* Light purple, adjust as needed */
  animation: spin 0.6s ease-in-out infinite;
  -webkit-animation: spin 0.6s ease-in-out infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

