@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: black;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

html {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overscroll-behavior: none;
}

body {
  font-family: 'Montserrat', sans-serif;

  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    overflow: hidden;
}

body:after {
  animation: grain 6s steps(10) infinite;
  background-image: url(/grain.png);
  background-repeat: repeat;
  content: "";
  height: 300%;
  left: -100%;
  opacity: .06;
  pointer-events: none;
  position: fixed;
  top: -100%;
  width: 300%;
  will-change: transform;
  z-index: 1000 !important;
}

*:after, *:before {
  box-sizing: border-box;
}

@keyframes grain {
  0% {
      transform: translate(20%,-15%)
  }

  10% {
      transform: translate(-20%,-15%)
  }

  20% {
      transform: translate(20%,-5%)
  }

  30% {
      transform: translate(-20%,-5%)
  }

  40% {
      transform: translate(20%,5%)
  }

  50% {
      transform: translate(-20%,5%)
  }

  60% {
      transform: translate(20%,15%)
  }

  70% {
      transform: translate(-20%,15%)
  }

  80% {
      transform: translate(20%,5%)
  }

  90% {
      transform: translate(-20%,5%)
  }

  to {
      transform: translate(20%,-5%)
  }
}

.headings-image {
  z-index: 3;
  width: 100%;
  mix-blend-mode: difference;
  object-fit: fill;
  position: relative;
  height: 200px;
  margin-top: 15%;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}

.fade-bottom::after {
  @apply absolute bottom-0 left-0 w-full h-[50%];
  content: '';
  background: linear-gradient(to bottom, transparent, black, black);
  pointer-events: none;
}